@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebclientAuthUsingIdentityUser.Models.ForgotPasswordViewModel
<div class="page-header" filter-color="black" style="background-image: url('../../assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
            @using (Ajax.BeginForm("ForgetYourPassword", "auth", new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessMethod" }))
            {
                @Html.AntiForgeryToken()
                <div class="card ">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">mail_outline</i>
                        </div>
                        <h4 class="card-title">Forget your password?</h4>
                    </div>
                    <div id="toRemove" class="container">
                        <div class="card-body ">
                            Enter your email and follow the instructions provided.
                            <br />
                            <form method="#" action="#">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @required = "true", PlaceHolder = "Email Address" })
                                </div>
                            </form>
                        </div>
                        <div class="card-footer justify-content-center">
                            <button type="submit" class="btn btn-fill btn-rose ">Submit</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    var isError = false;
    function OnSuccessMethod(data) {
        $("#toRemove").children().remove();
        $("#toRemove").append('<br/>Follow the instructions provided. <br/> Thank you. <br/>');
        $("#toRemove").append(' <div class="card-footer justify-content-center"> <a href="@Url.Action("Login","Auth")" class="btn btn-fill btn-rose">Go to Login Page</a></div>');
        isError = true;
    }
</script>